In [1]:
import urllib
import sqlalchemy as sa
import pandas as pd
import pyodbc

# PringleAPI

In [3]:
#Creates appropriate engine for db query to pandas w/ windows authentication
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};"
                                 "SERVER=PRINGLED0000031\SQLEXPRESS;"
                                 "DATABASE=PringleAPI;"
                                 "UID=PringleAPI_User;"
                                 "PWD=ErfQsv7s;"
                                 "Trusted_Connection=yes")

engine = sa.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [3]:
#CAll database to create dataframe
from sqlalchemy import text as sql_text
query = 'SELECT * FROM dbo.Api'
df = pd.read_sql_query(con=engine.connect(),sql=sql_text(query))
df.head(2)

,Id,ApiName,DateCreated,DateModified,CreatedBy,UpdatedBy,IsAdminNavigation
0,1,Location,2013-11-08 23:39:00,None,-1,None,False
1,4,Digital Menu,2013-11-14 23:54:00,None,-1,None,True

# PringleAPIDataModel
PringleAPIDataModel_User
Dm6Nti6sUZhmO6lYwhw3Yyn3aiZQCFbF

In [59]:
#Creates appropriate engine for db query to pandas w/ windows authentication
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};"
                                 "SERVER=PRINGLED0000031\SQLEXPRESS;"
                                 "DATABASE=PringleAPIDataModel;"
                                 "UID=PringleAPIDataModel_User;"
                                 "PWD=Dm6Nti6sUZhmO6lYwhw3Yyn3aiZQCFbF;"
                                 "Trusted_Connection=yes")

engine = sa.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [61]:
#CAll database to create dataframe
from sqlalchemy import text as sql_text
query = 'SELECT * FROM dbo.Databases'
df = pd.read_sql_query(con=engine.connect(),sql=sql_text(query))
df.Description

0     PringleAPI is a core database to the platform....
1     PringleAssets database contains information re...
2     PringleCRM database is a core database for acc...
3     PringleDigitalMenu is a core database for supp...
4     PringleForms is a database intended to support...
5     PringleJobs is a database intended to support ...
6     PringleLog is a database is used for platform ...
7     PringleNews is a database intended to host the...
8     PringlePages is a database used for Web Pages ...
9     PringlePOSx  is a core database for supporting...
10    PringlePromotions is a database used to suppor...
11    PringleRating is a database used to capture th...
12    PringleVariable is a core database that is use...
13    PringleAPIDataModel is a database used to prov...
Name: Description, dtype: object

# PringleAPILog
PringleAPILog_User
eRrLRnj8vBt6sEuZMejTmODoZBJ1PG3y

# PringleApps
PringleApps_User
kTFL5oc5toAdpUz6QKE4yZn62zbxFYQE

# PringleAssets
PringleAssets_User
XcCK4LMpJZpYURMrzze5Rwt1g03wSJnt

# PringleBlog
PringleBlog_User
68YR9kulr7l3XEnH2qszXc3GCNGQGYdu

# PringleComments
PringleComments_User
LgbuGVfCtwuKiELdowi4yWQgMtCdpA8O

# PringleCRM
PringleCRM_User
LKmZnXou

# PringleNews
PringleNews_User
fLhbvEYq

In [4]:
#Creates appropriate engine for db query to pandas w/ windows authentication
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};"
                                 "SERVER=PRINGLED0000031\SQLEXPRESS;"
                                 "DATABASE=PringleNews;"
                                 "UID=PringleNews_User;"
                                 "PWD=fLhbvEYq;"
                                 "Trusted_Connection=yes")

engine = sa.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [7]:
#CAll database to create dataframe
from sqlalchemy import text as sql_text
query = 'SELECT * FROM dbo.News'
df = pd.read_sql_query(con=engine.connect(),sql=sql_text(query))
df.head()

,NewsID,Token,Headline,NewsContent,NewsDate,ExternalLink,DateCreated,DateModified,CreatedBy,UpdatedBy
0,5,01DB27E3-82DB-4408-BB2C-3278EE9CD7E7,This is a test,None,2014-01-25,None,2014-01-25 01:05:00,NaT,2,NaN
1,1009,3359D596-BE19-4EE9-9451-E55E1140BD9F,Bawarchi in Plymouth Rocks !!!,"&lt;p&gt;\r\n\t&lt;img alt=""Minneapolis St. Pa...",2014-11-05,None,2014-11-05 22:58:00,2014-11-05 23:49:00,3,3.0
2,2009,D2916913-0855-4702-BF57-2793A87E12AD,Test,None,2015-05-01,None,2015-05-02 22:11:00,NaT,1,NaN
3,2010,D2916913-0855-4702-BF57-2793A87E12AD,test,<p>\r\n\tThis is a test</p><hr/>\r\n,2015-05-19,None,2015-05-03 00:11:00,2015-05-03 00:11:00,1,1.0
4,2011,D2916913-0855-4702-BF57-2793A87E12AD,test2,sjdfsj ksdfjksdjfks,2015-05-12,None,2015-05-03 00:12:00,NaT,1,NaN

# Pringle Pages

In [ ]:
#Tables
# dbo.changelog
#dbo.Page

In [11]:
#Creates appropriate engine for db query to pandas w/ windows authentication
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};"
                                 "SERVER=PRINGLED0000031\SQLEXPRESS;"
                                 "DATABASE=PringlePages;"
                                 "UID=PringlePages_User;"
                                 "PWD=rtaIx3lijs0lLKT2tReL9awvzBlQ1XHa;"
                                 "Trusted_Connection=yes")

engine = sa.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [14]:
#CAll database to create dataframe
from sqlalchemy import text as sql_text
query = 'SELECT * FROM dbo.Page'
df = pd.read_sql_query(con=engine.connect(),sql=sql_text(query))
df.shape

(12, 17)

# Pringle Posx

In [ ]:
#Columns
#

In [16]:
#Creates appropriate engine for db query to pandas w/ windows authentication
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};"
                                 "SERVER=PRINGLED0000031\SQLEXPRESS;"
                                 "DATABASE=PringlePOSx;"
                                 "UID=PringlePOSx_User;"
                                 "PWD=mwCYwZ8AjkJPTDS28pvIiJsSNnsL02cJ;"
                                 "Trusted_Connection=yes")

engine = sa.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [21]:
sa.create_engine()

SyntaxError: invalid syntax (1989337692.py, line 2)

In [10]:
#CAll database to create dataframe
from sqlalchemy import text as sql_text
query = 'SELECT * FROM dbo.CuisineType'
df = pd.read_sql_query(con=engine.connect(),sql=sql_text(query))
df.head()

Empty DataFrame
Columns: [CuisineTypeID, CuisineType, DateCreated, DateModified, CreatedBy, UpdatedBy]
Index: []